<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="caret-back"></ion-back-button>
    </ion-buttons>
    <ion-title>new-car</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="new-car">
  <div>
    <form [formGroup]="carForm">
      <ion-item>
        <ion-input
          label="Brand"
          labelPlacement="stacked"
          placeholder="Renault"
          formControlName="brand"
        >
        </ion-input>
      </ion-item>
      @if (carForm.get('brand')?.dirty) {
        @if (carForm.get('brand')?.errors?.['required']) {
          <span class="span-error">This field is required</span>
        }

        @if (carForm.get('brand')?.errors?.['minlength']) {
          <span class="span-error">Minimum characters should be 2.</span>
        }
      }

      <ion-item>
        <ion-input
          label="model"
          labelPlacement="stacked"
          type="text"
          placeholder="Clio"
          formControlName="model"
        >
        </ion-input>
      </ion-item>
      @if (carForm.get('model')?.dirty) {
        @if (carForm.get('model')?.errors?.['required']) {
          <span class="span-error">This field is required</span>
        }

        @if (carForm.get('model')?.errors?.['minlength']) {
          <span class="span-error">Minimum characters should be 2.</span>
        }
      }

      <div class="container-button">
        <ion-button size="medium" [disabled]="carForm.invalid" (click)="onSave()">
          Save
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
